.header_content {
  width: 100%;
  position: fixed;
  /*grid-area: h;*/
  background-color: rgb(255, 255, 255);
  padding: 5px;
  z-index: 1000;
}

.header_content img {
  width: 40px;
  margin-left: 20px;
}

.header_w {
  width: 1200px;
  margin: 0 auto;
}

.header_name {
  display: flex;
  align-items: center;
  font-size: 30px;
}