@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@300;400;500;700&display=swap');



.app-wrapper {
  padding-top: 55px;
  display: grid;
  width: 1200px;
  margin: 0% auto;


  grid-template-areas:
    /*"h h"*/
    "n c ";

  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.content {
  grid-area: c;
  background-color: rgb(132 204 22);
  border-radius: 12px;
  margin: 4px;
  padding: 10px;
  height: 100vh;
}